:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

:host(.icon--sm) {
  --icon-size: var(--font-size-xs);
}

:host(.icon--md) {
  --icon-size: var(--font-size-base);
}

:host(.icon--lg) {
  --icon-size: var(--font-size-lg);
}

:host(.icon--xl) {
  --icon-size: var(--font-size-xl);
}
